<mat-toolbar class="home-toolbar">

  <div>User Management</div>

  <mat-icon (click)="drawer.toggle() && open()" *ngIf="toggle"><img src="../../../assets/IMAGES/navigate_next-24px.svg">
  </mat-icon>
  <mat-icon (click)="drawer.toggle()&& open()" *ngIf="!toggle"><img
      src="../../../assets/IMAGES/navigate_before-24px.svg"></mat-icon>

  <div class="spacer">
    <mat-icon> <img class="spacer" src="../../../assets/IMAGES/daina.jpeg"></mat-icon>
    <p style="margin-left: 16px;cursor: pointer;">shweta</p>
  </div>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="sidenav-content">
      <div>
        <mat-icon><img src="../../../assets/IMAGES/dashboard.svg"></mat-icon>
        <p>Dashboard</p>
        <button mat-button>UPDATED</button>
      </div>
      <div (click)="webpage()">
        <mat-icon><img src="../../../assets/IMAGES/webpages.svg"></mat-icon>
        <p>Webpages</p>
        <mat-icon style="margin-left: 67px;"><img src="../../../assets/IMAGES/navigate_before-24px.svg"
            style="color: lightgray;"></mat-icon>
      </div>
      <div *ngIf="extendWebpage" class="extend">

        <div>Webpages</div>
        <div>Webpages</div>
        <div>Webpages</div>
        <div>Webpages</div>

      </div>

      <div (click)="user()">
        <mat-icon><img src="../../../assets/IMAGES/user.svg"></mat-icon>
        <p>User</p>
        <mat-icon style="margin-left: 104px;"><img src="../../../assets/IMAGES/navigate_before-24px.svg"
            style="color: lightgray;"></mat-icon>
      </div>
      <div *ngIf="extendUsers" class="extend">

        <div>User</div>
        <div>User</div>
        <div>User</div>
        <div>User</div>

      </div>
      <div>
        <mat-icon><img src="../../../assets/IMAGES/resume.svg"></mat-icon>
        <p>Profile</p>
      </div>
      <div (click)="setting()">
        <mat-icon><img src="../../../assets/IMAGES/settings.svg"></mat-icon>
        <p>Settings</p>
        <mat-icon style="margin-left: 80px;"><img src="../../../assets/IMAGES/navigate_before-24px.svg"
            style="color: lightgray;"></mat-icon>
      </div>
      <div *ngIf="extendSetting" class="extend">

        <div>Settings</div>
        <div>Settings</div>
        <div>Settings</div>
        <div>Settings</div>

      </div>
      <div>
        <mat-icon><img src="../../../assets/IMAGES/logout.svg"></mat-icon>
        <p>Logout</p>
      </div>
    </div>
    <button mat-icon-button class="close-button">
      <mat-icon (click)="drawer.toggle()&& open()"><img src="../../../assets/IMAGES/navigate_before-24px.svg">
      </mat-icon>
      <mat-icon (click)="drawer.toggle() && open()"><img src="../../../assets/IMAGES/navigate_next-24px.svg"></mat-icon>
    </button>


  </mat-drawer>

  <div>
    <mat-toolbar class="toolbar-content">

      <div>
        <h3>Welcome Admin Admin</h3>
        <p>you last login in on :Jan 2 2020 6:06AM</p>
      </div>

      <mat-icon (click)="drawer.toggle() && open()" *ngIf="toggle"><img
          src="../../../assets/IMAGES/navigate_next-24px.svg">
      </mat-icon>
      <mat-icon (click)="drawer.toggle()&& open()" *ngIf="!toggle"><img
          src="../../../assets/IMAGES/navigate_before-24px.svg"></mat-icon>

      <div class="spacer-second">
        <mat-icon> <img class="icon" src="../../../assets/IMAGES/home-button-for-interface.svg"></mat-icon>
        <p>Home</p>
        <p>/</p>
        <p>Dashboard</p>
      </div>
    </mat-toolbar>
    <div class="content-cards">
      <div class="first-row" [class.open-sidenav]="toggle">
        <mat-card>
          <div>
            <div class="card-icon" style="background-color: #0E9BE2;">
              <mat-icon><img style="width: 56px;" src="../../../assets/IMAGES/user.svg"></mat-icon>
            </div>
            <div class="card-description">
              <p>TOTAL</p>
              <p>100</p>
            </div>
          </div>
        </mat-card>
        <mat-card>
          <div>
            <div class="card-icon" style="background-color: #1DBB8E;">
              <mat-icon><img src="../../../assets/IMAGES/check.svg"></mat-icon>
            </div>
            <div class="card-description">
              <p>ACTIVE</p>
              <p>101</p>
            </div>
          </div>
        </mat-card>
        <mat-card>
          <div>
            <div class="card-icon" style="background-color: #ff4402;">
              <mat-icon><img src="../../../assets/IMAGES/do-not-disturb-rounded-sign.svg"></mat-icon>
            </div>
            <div class="card-description">
              <p>INACTIVE</p>
              <p>1</p>
            </div>
          </div>
        </mat-card>
        <mat-card>
          <div>
            <div class="card-icon" style="background-color: #F3BB23;">
              <mat-icon><img src="../../../assets/IMAGES/view.svg"></mat-icon>
            </div>
            <div class="card-description">
              <p>ONLINE</p>
              <p>2</p>
            </div>
          </div>
        </mat-card>

      </div>
    </div>

  </div>